*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', 'Georgia', serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a,
a:active,
a:hover,
a:visited,
a:link {
  text-decoration: none;
}

a::before,
a::after {
  content: '';
  display: block;
  position: absolute;
}

/* #2e0014
 #442220
 #809848
 #b0ca87
 #b5dead */
